/* Project related CSS */

h2 {
    margin-top: 0;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}

.navbar .logo-area .logo {
    font-size: 1.1rem;
    font-weight: bolder;

}

.navbar ul {
    margin: 0;
}

.navbar ul li {
    margin: 0;
    list-style: none;
    display: inline-block;
    margin-left: 15px;
    ;
}

.navbutton {
    display: none;
}

.navbar ul li a {
    color: #dedede;
    border: 0;
    padding: 0;
}

.navbar ul li a:hover {
    color: #ffaaee;
}

@media only screen and (max-width: 740px) {

    h2 {
        border: 0;
    }

    button.navbutton {
        display: inherit;
        background: none;
        cursor: pointer;
        transition: rotate .3s;
    }


    .show-links button.navbutton {
        rotate: -90deg;
    }


    .navbutton img {
        width: 30px;
        height: 30px;
    }

    .navbar .logo-area {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 20px;
        border-bottom: 1px solid rgba(255, 255, 255, .1);
    }

    .navbar {
        display: block;
        padding-bottom: 0;
        position: relative;
    }

    .navlinks {
        position: absolute;
        background-color: #202020;
        width: 100%;
        height: 0;
        opacity: 0;
        transition: height .3s ease-out, opacity 1s;
        overflow: hidden;
    }

    .show-links .navlinks {

        height: 215px;
        opacity: 1;
        transition: height .3s ease-in, opacity .4s;
    }

    .navbar ul {
        border: 1px solid rgba(255, 255, 255, .1);
        border-top: 0;
        border-radius: 0 0 10px 10px;
    }

    .navbar ul li {
        display: block;
        margin: 0;
        list-style: none;
        padding: 0 8px;
    }

    .navbar ul li a {
        display: block;
        padding: 10px;
        padding-left: 2px;
        border-bottom: 1px solid rgba(255, 255, 255, .1);
    }

    .navbar ul li:last-child a {
        border: 0;
    }

}