/* Project related CSS */

.menu-container {
    max-width: 510px;
    display: grid;
    gap: 30px 30px;
    grid-template-columns: 33% 33% 33%;
    margin-bottom: 20px;
}

img.menu-item-img {
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
    border: 3px solid #000;
}

.menu-item-info p {
    color: rgba(255, 255, 255, .5);
    margin: 0;
    font-size: .9rem;
}

.filter-btn {
    margin-right: 2px;
    text-transform: capitalize;
}

@media only screen and (max-width: 740px) {
    .menu-container {
        max-width: 250px;
        display: grid;
        gap: 20px 20px;
        grid-template-columns: 100%;
        /* margin: auto; */
        margin-bottom: 20px;
    }
}