/* Project related CSS */


.inner-body {
    position: relative;
    border: 1px solid #adff2f;
    overflow: hidden;
    margin-bottom: 20px;
}

.sidebarproj-tab {
    display: inline-block;
    padding: 3px 7px;
    font-size: .8rem;
    background-color: #adff2f;
    color: #444;
    font-weight: bold;
    margin-left: 8px;
}

.inner-body h1 {
    font-size: 2.2rem;
}

#preloader {
    position: absolute;
}

a.rm-link-style {
    color: #444;
}

@media screen and (min-width: 740px) {
    /* for screens larger than 740px */


    .inner-body h1 {
        font-size: 2.2rem;
    }

}