/* "Next Content" project styles */

.card {
    width: 280px;

    background-color: #202020;
    color: #444;
    border-radius: 12px;
    padding: 12px;
    margin-bottom: 20px;
}

.card-content {
    background-color: #dedede;
    color: #444;
    border-radius: 5px;
    padding: 15px;

}

.card-image {
    width: 100%;
    background-color: #cccccc;
    padding: 10px 0 5px 0;
    text-align: center;
    border-radius: 5px 5px 5px 5px;
}

.card-image img {
    width: 82px;
    height: 88px;
}

.card h3,
.card p {
    color: #444;
}

.card h3 {
    font-weight: bold;
    margin-top: 18px;
    margin-bottom: 13px;
    font-size: 1em;
}

.card p {
    margin-bottom: 15px;
    line-height: 1.5;
    font-size: 0.9rem;

}

.car .group-text {
    display: block;
    height: 180px;
    overflow: hidden;
}

a.card-btn {
    background-color: #e34425;
    color: #dedede;
    display: inline-block;
    margin-bottom: 0px;
    border: 0;
    font-weight: 600;
    font-size: .8rem;
    border-radius: 3px;
    padding: 8px 10px;
    transition: opacity .3s;
}

a.card-btn:hover {
    opacity: .9;
}

a.card-btn:active {
    opacity: 1;
}

.nxtcontent {
    display: flex;
    align-items: center;
}

.nav-buttons {
    margin-left: 25px;
}

.nav-buttons button {
    display: block;
    width: 150px;
    background-color: #dedede;
    color: #444;
    padding: 10px auto 10px auto;
    font-size: .9rem;
    font-weight: 600;
}


@media only screen and (max-width: 740px) {
    .nxtcontent {
        display: initial;
        align-items: center;
    }

    .nav-buttons {
        margin-left: 0px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .card {
        margin: auto;
        margin-bottom: 20px;
    }
}


@media only screen and (max-width: 400px) {
    .card {

        width: 100%;
        width: 280px;
    }
}