@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.noto-sans-jsp {
    font-family: "Noto Sans", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

body,
* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    line-height: 1.5;
    font: inherit;
    box-sizing: border-box;
    color: #dedede;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    background: #222222;
    padding: 20px 25px 0 25px;
    font-size: 18px;
    font-family: "Noto Sans", serif;
    font-weight: 400;
    font-variation-settings:
        "wdth" 100;
    font-style: normal;
    font-optical-sizing: auto;
}

p {
    margin-bottom: 20px;

}

strong.project-name,
strong,
b {
    font-weight: bold;
}

.container {
    display: block;

    margin: auto;
    background: rgba(255, 255, 255, .1);
    border-radius: 6px;
    min-height: 50%;
    padding: 50px;
}

.content-block {
    max-width: 900px;
    margin: auto;
    border-left: 1px solid rgba(255, 255, 255, .1);
    border-right: 1px solid rgba(255, 255, 255, .1);
    padding: 0 30px;
}

.btn:hover,
.submit-btn:hover {
    background-color: #cdcdcd;

}

.btn:active,
.submit-btn:active {
    background-color: #dedede;
}

.btn,
.submit-btn {
    transition: all .3s;
}

.faq-info {
    font-size: 14px;
    border-top: 1px solid rgba(255, 255, 255, .1);
    padding-top: 20px;
    margin-top: 20px;
}

.faq-info .rm-margin {
    margin-bottom: 0;
}


@media only screen and (max-width: 740px) {
    body {
        padding: 15px 20px;
    }

    button.flip-all-color {
        margin-left: 0px;
    }

    button {
        width: 100%;
    }

    .container {
        padding: 20px 20px;
    }

    .content-block {

        border: 0;
        padding: 0;
    }

}



/* counter */

.emoji {
    font-size: 16px;
}

.count {
    font-size: 5rem;
    line-height: 1;
    color: #888888;
}

.btn,
#stop {
    cursor: pointer;
    background-color: #c0c0c0;
    border: 1px solid #414141;
    color: #303030;
    padding: 10px 20px;
    font-size: .6rem;
    font-weight: bold;
    letter-spacing: 1pt;
    text-transform: uppercase;
    margin-bottom: 15px;
}


h2 {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 15px;
    margin-top: 10px;
    border-top: 1px solid rgba(255, 255, 255, .1);
    padding-top: 20px;
}

.input-fields {
    display: inline-flex;
}

label {
    display: inline-block;
    font-weight: normal;
    font-size: .8rem;
    margin-bottom: 8px;
}

input {
    display: inline-block;
}

input[type=number],
.submit-btn {
    width: 180px;
    background-color: rgba(0, 0, 0, .5);
    padding: 7px;
    font-size: 1rem;
    margin-bottom: 15px;
}

.submit-btn {
    background-color: #c0c0c0;
    border: 0;
    color: #303030;
    letter-spacing: 1pt;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
}

input:focus {
    border-color: #000000;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.field-group {
    max-width: 210px;
    margin: 0;
    padding: 0;
}

.status {
    font-weight: bold;
    ;
}

#inseconds {
    font-size: 0.7em;

    color: #adadad
}